@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container{
    width: 450px;
    height: 290px;
    min-height: 50%;
    backdrop-filter: blur(50px);
    border-radius: 0.6rem;
    padding: 1rem;
    position: relative;
    z-index: 999;
    transition: all 1s;
}

.shape{
    position: relative;
}


.circle{
    width: 190px;
    height: 190px;
    position: absolute;
    border-radius: 50%;
}

.shape .circle:first-child{
    background: linear-gradient(to bottom,rgba(255, 0, 255, 0.486),rgb(255, 0, 255));
    top: -280px;
    left: -90px;
}
.shape .circle:last-child{
    background: linear-gradient(to bottom,blueviolet,rgba(137, 43, 226, 0.741));
    bottom: -290px;
    right: -540px;
}

.container h1{
    color: rgb(168, 74, 255);
    text-align: center;
    font-weight: 600;
}

.container h1:nth-child(2){
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(202, 145, 255);
}

p{
    text-align: center;
    color: rgb(202, 145, 255);
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 30px;
}
.container input{
    width: 60%;
    outline: none;
    border: 1px solid rgb(255, 0, 93);
    border-radius: 0.3rem;
    font-size: 1.4rem;
    padding: 0.2rem 1rem;
    background: transparent;
    color: rgb(220, 182, 255);
    font-weight: 700;
    position: relative;
    transition: all 0.4s;
}

.container input::placeholder{
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%,-50%);
    color: rgba(255, 0, 153, 0.633);
    transition: all 0.4s;
}


.container input:focus{
    border: 1px solid rgb(255, 0, 247);
    box-shadow:  rgb(255, 0, 247,0.26) 5px -3px 18px,  rgb(255, 0, 247,0.33) -2px 3px 16px;
}

.container input:focus::placeholder{
    color: rgb(255, 0, 247);
}

.container .input button{
    width: 125px;
    height: 35px;
    border-radius: 0.4rem;
    border: none;
    background: transparent;
    border: 1px solid rgb(255, 0, 93);
    color: rgb(255, 0, 115);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.6s;
}

.container .input button:hover{
    background:rgb(255, 0, 93);
    color: white;
    letter-spacing: 1px;
}

.green{
    color: rgb(66, 198, 94);
}

.red{
    color: red;
}

.mgtop{
    padding-top: 2rem;
}

.red,.green{
    margin-top: 0.3rem;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 2rem;
    animation: animate 1s forwards;
}

.result{
    text-align: center;
    padding-top: 2rem;
    color: rgb(195, 135, 255);
    font-weight: 500;
    font-size: 1.7rem;
    animation: animate 1s forwards;
}

.result span{
    color: rgb(0, 219, 0);
    font-weight: 600;
    font-size: 2.5rem;
}

.result span.zero{
    color: red;
    font-size: 2rem;
    padding-left: 0.3rem;
}

.animation{
    animation: height 0.4s forwards;
}

.move{
    animation: smallheight 0.5s forwards;
}


@keyframes animate {

    from{
        scale: 0;
        opacity: 0;
    }

    to{
        scale: 1;
        opacity: 1;
    }
    
}

@keyframes height {
    to{
        height: 490px;
    }
}

@keyframes smallheight {
    to{
        height: 400px;
    }
}